<body class="container-fluid">
       <div class="row headerbox">
       <div class="col-xs-12 col-sm-12 height100">
              <div class="row height100">
                           <div class="col-xs-5 col-sm-4 height100 header-font">
                           	  <div class="col-xs-12" style=""><h4><b>GApp</b></h4></div> 
                              <div class="evtnm col-xs-12"><h4>Event Name</h4></div>
                            </div>
                           <div class="col-xs-3 col-sm-4 height100"></div>
                           <div class="col-xs-4 col-sm-4 height100 ">
                                  <div class="backbtn">
                                        <a href="#/menu"> <button class="btn btn-md btn-color" aria-label="Right Align" id="glyph" href="#/menu">
                                                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                                         </button></a>
                                  </div> 
                               <div class="evtdt">
                                  <button id="back" class="btn btn-md btn-color" aria-label="Right Align"><h4>Event Details</h4></button>
                               </div>
                           </div>
                  </div>
    <div class="row height600 bodybox "></div>
    <div class="row height50 redbox">
       <div class="panel-footer col-sm-12 col-xs-12">
            <div class="input-group ">
                    <input id="btn-input" type="text" class="form-control input-sm " />
                       <span class="input-group-btn">
                             <button class="btn btn-sm btn-style">Send</button>
                       </span>
            </div>
    </div>
    </div>
                           
           </div>
    </div>
