extends template

block vars
    - var title = 'Profile'

block body
    h1 Profile
    p.
        Welcome to your profile! You are now logged in.

    h2 User Information
//    p First Name:    #{user.firstName}
//    p Last Name:    #{user.lastName}
//    p Email:    #{user.email}
//    p Data:    #{user.data}