extends template
block vars
    - var title = "Home Page"
    
block body
    h1 Authorisation Application
    p Welcome to the authorisation page registered users <a href="/login" > login in here </a> <br/> new users <a href="/register"> register </a> here to continue.
    