body{
	height:100px;
	font-family:Arial;
}
.header{
	height:100px;
	
	background-color: #607D8B;
}
.content{
	height:550px;
	
	background-color: #B0BEC5;
}
.from-group,input, .btn{
	
	margin-top:30px;
}

#ce{
	margin-top:25px;
	background-color: #607D8B;
	border-radius: 20px;
	font-size: 20px;
	box-shadow:0px 0px 10px #888888
}
.jumbotron{
	background-color: white;
	margin-top:25px;
	height:400px;
	padding:0px;
	padding-top:10px;
}
.jumbotron h3{
	text-align:center;
	margin-top:0px;
	border:1px solid transparent;
	
}
#btnlinediv{
	height:50px;
	padding:0px;
	
}
.btnlive{
	padding:0px;
    margin-top:0px;
	border-radius: 20px;
	font-size: 20px;
}

.events{
	padding:0px;
	overflow-y: auto;
	height:350px;
	
	margin:auto;
	
}
.event{
	box-shadow: 0px 0px 30px #888888;
	height:250px
	padding:0px;
	background-color: white;
	
}
.event img{
	
	height:100px;
	float:left;
	border:3px solid #607D8B;
	padding:0px;
}
.info{
	
	padding:0px;
	height:250px;
}
.left,.info{
	margin-top:20px;
}
.left{
	float:left;
	padding:5px;
}
.left .btn{
	background-color: #607D8B;
	margin-top:10px;
	border-radius: 20px;
}
.left img{
	
}
table{
	border:1px solid #607D8B;
}

#even{
	background-color: #B0BEC5;
}
.header>input{
	margin-top:60px;
	
	border-radius:0%;
	
	
}
.header button{
	padding:0px;
	height:34px;
}
.header .form-group{
	padding: 0px;
}


/*
 * 
 * /////////////////// LOGIN PAGE CSS /////////////////////////////
 * 
 */
.login_header{
	height:250px;
	background-color: gray;
	background: url("lib/images.jpg")
	
}
.login_content{
	height:400px;
	box-shadow: 0 0 30px black;
	background-color:#607D8B
}
.login_form{
	background-color: white;
	margin-top:50px;
	box-shadow: 0 0 20px black;
	
}
.form-group{
	
	padding: 0px;
}
.login_form h4{
	margin-bottom:0px;
	margin-top:0px;
	
}
form-control:focus{
	border-color:white;
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0, .6);
   
}
.login_form button{
	
	background-color:#607D8B;
	margin-bottom:20px;
	
}
.login{
	color:#FFFFFF;
	text-decoration: none;
}
.login:hover{
	color:#FFFFFF;
	text-decoration: none;
}
.login:link{
	color:#FFFFFF;
	text-decoration: none;
}
.login:active{
	color:#FFFFFF;
	text-decoration: none;
}
#back{
	color: #FFFFFF;
}
















