<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	 <link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.css" />
        <script src="lib/jquery-1.12.1 (1).js"></script>
        <script src="bootstrap-3.3.6-dist/js/bootstrap.js"></script>
	<script src="lib/angular.js"></script>
</head>
<body data-ng-app data-ng-init="heroes = [
{title:'batman',   fname : 'Bruce', lname : 'Wayne',    city : 'Gotham',         power : 7, price : 876.45678, releasedate : '2016-03-30', photo: 'images/batman.jpg'},
{title:'superman', fname : 'Clark', lname : 'Kent',     city : 'Metropolis',     power : 8, price : 940.64578, releasedate : '2016-03-27', photo: 'images/superman.jpg'},
{title:'spiderman',fname : 'Peter', lname : 'Parker',   city : 'New york',       power : 7, price : 750.46758, releasedate : '2016-03-23', photo: 'images/spiderman.jpg'},
{title:'ironman',  fname : 'Tony',  lname : 'Stark',    city : 'New york',       power : 7, price : 450.54678, releasedate : '2016-03-24', photo: 'images/ironman.jpg'},
{title:'phanthom', fname : 'Kit',   lname : 'Walker',   city : 'Bhangala',       power : 6, price : 320.74568, releasedate : '2016-03-19', photo: 'images/phantom.jpg'}
];sorton='title';offset=0">

<table class="table table-striped">
	<tr>
		<th>sl #</th>
		<th>title</th>
		<th>power</th>
		<th>price</th>
		<th>city</th>
	</tr>
	<tr ng-repeat="hero in heroes | limitTo : 2 : offset" >
		<td>{{$index+1+offset}}</td>
		<td>{{ hero.title}}</td>
		<td>{{ hero.power}}</td>
		<td>{{ hero.price}}</td>
		<td>{{ hero.city}}</td>
	</tr>
</table>
<button ng-disabled="offset < 2" ng-click="offset = offset - 2">prev</button>
<button ng-disabled="offset >= 4" ng-click="offset = offset + 2">next</button>
	
</body>
</html>