body{
	margin:0px;
}
header{
	height:300px;
	background-color:#5769CF;
	
}
main{
	height:900px;
	background-color:#4A4646;
	
}
.main{
	margin:0px auto;
	background-color:#4A4646;
	width:900px;
	height:800px;
	
	float:left;
}

section{
	margin-left:20px;
	margin-top:50px;
}
.leftside{
	border:1px ;
	width:350px;
	float:left;
}
#pic{
	width:200px;
	height:200px;
	margin-left:0px;
	margin-right:18px;
	margin-top:25px;
	
	border:1px solid white;
	float:left;
}
#container{
	position:relative;
	
}
#container img{
	position:absolute;
	left:0;
}
.picture:hover{
	-webkit-box-shadow: 0 0 30px white;
	box-shadow: 0 0 30px white;
	-moz-box-shadow:0 0 30px white;
}
h1,p,ul,h3,h5{
	color:white;
}
#bf{
	
	float:center;
	margin-left:0px;
	margin-top:15px;
}


@-webkit-keyframes imgFade{
	0%{
		opacity:1;
	}
	17%{
		opacity:1;
	}
	25%{
		opacity:0;
	}
	92%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
@-moz-keyframes imgFade{
	0%{
		opacity:1;
	}
	17%{
		opacity:1;
	}
	25%{
		opacity:0;
	}
	92%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
@-o-keyframes imgFade{
	0%{
		opacity:1;
	}
	17%{
		opacity:1;
	}
	25%{
		opacity:0;
	}
	92%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
@keyframes imgFade{
	0%{
		opacity:1;
	}
	17%{
		opacity:1;
	}
	25%{
		opacity:0;
	}
	92%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

#container img{
	-webkit-animation-name:imgFade;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-duration:8s;
	
	-moz-animation-name:imgFade;
	-moz-animation-iteration-count:infinite;
	-moz-animation-duration:8s;
	
	-o-animation-name:imgFade;
	-o-animation-iteration-count:infinite;
	-o-animation-duration:8s;
	
	 animation-name:imgFade;
	 animation-iteration-count:infinite;
	 animation-duration:8s;
	
}

#container img:nth-of-type(1){
	
	-webkit-animation-delay:6s;
	-moz-animation-delay:6s;
	animation-delay:6s;
}

#container img:nth-of-type(2){
	
	-webkit-animation-delay:4s;
	-moz-animation-delay:4s;
	animation-delay:4s;
}

#container img:nth-of-type(3){
	
	-webkit-animation-delay:2s;
	-moz-animation-delay:2s;
	animation-delay:2s;
}

#container img:nth-of-type(4){
	
	-webkit-animation-delay:0s;
	-moz-animation-delay:0s;
	animation-delay:0s;
}
