
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a ng-click="refrsh()" class="link icon-only open-panel">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="center">
                        <h2 class="title">About Us</h2>
                    </div>
                </div>
            </div>
            <div class="pages navbar-through">
                <div data-page="typo" class="page">
                    <div class="page-content">
                        
                        <div class="content-block-title">
                            <h2>The App</h2>
                        </div>
                        <div class="content-block">
                            <p>The Medical Alert application is used to send an emergency message to the medical team of Mintdtree Kalinga, 
	  			when a Campus Mind need their help immediately. It provides the location details of the person who requested for help.</p>
                        </div>
                        <div class="content-block-title">
                            <h2>Details</h2>
                        </div>
                        <div class="content-block">
                            <p class="bold">
                            	The application will be  used by the Campus Minds in Kalinga, Mindtree. It will be connected with admin team of Medical group at Kalinga 
	  			Orchard team, Campus Minds and the people inside Kalinga campus can download this app on their mobiles and can be used.			 
	  			
	  			Once the apllication is download in their mobile, we need to sign-in, the details of the person will be stored, 
	  			during the time of any help, they can send a message with their details and location tapped to the medical team, so that they can help 
	  			whenever needed. 
                            </p>
                        </div>

                        <div class="content-block-title">
                            <h2>The Team</h2>
                        </div>
                        <div class="content-block">
                            <p class="italic bold" >The Campus Minds of Feb2016, of WebTech team developed this application. The team members are:
                            	<ul class="caps" style="font-size: medium" >
                            		<li>Vignesh N</li>
                            		<li>Pratibha Ramanna</li>
                            		<li>Pooja Arya</li>
                            		<li>Balreddy Sudhakar</li>
                            		<li>Jyotsna Maurya</li>
                            		<li>Srija A S</li>
                            		<li>Neupa Sinha</li>
                            		<li>Krishana Kumar</li>
                            		<li>Pooja G N</li>
                            		<li>Mukesh Kumar</li>
                            	</ul></p>
                        </div>

                        <!--div class="content-block-title">
                            <h2>Caps Paragraph</h2>
                        </div>
                        <div class="content-block">
                            <p class="caps">Etiam rutrum, purus a finibus iaculis, lorem diam tempor turpis, vel elementum turpis odio eu mi. Curabitur finibus vehicula nisi, sit amet cursus eros mattis eu. Integer nec nibh ac mauris pulvinar vestibulum. Proin sodales congue purus non finibus. Quisque nec sem felis. Aenean augue nisi, iaculis vel laoreet ac, tristique in erat. Proin ut mollis enim. Nunc faucibus metus ex, vitae condimentum nunc lobortis quis. Donec sed metus purus. Aliquam iaculis ac sem eu feugiat. Aenean condimentum ut risus dapibus pharetra.</p>
                        </div-->

                    </div>
                </div>
            </div>
        </div>
    </div>